{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>The WedSite #kylex</title>
	<link href="{% static "img/favicon.png" %}" rel="icon" type="image/png">
	<link rel="stylesheet" href="{% static "css/normalize.css" %}">
	<link rel="stylesheet" href="{% static "css/foundation.min.css" %}">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<script src="{% static "js/vendor/modernizr.js" %}"></script>
	<script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
</head>
<body class="home">

	<!-- Mobile navigation -->
	<nav class="mobile-nav-menu">
		<a class="mobile-logo" href="index.html">Kylie and Alex's WedSite</a>
		<a class="mobile-menu-btn" href="#"><span></span></a>
		<div class="mobile-menu-container"></div>
	</nav><!-- End .mobile-nav-menu -->

	<!-- Header -->
	<header class="default">
		<nav>
			<ul>
				<li><a title="The Couple" href="#couple">The Couple</a></li>
				<li><a title="Our Story" href="#rsvp">Our Story</a></li>
				<li><a title="Schedule" href="#schedule">Schedule</a></li>
				<li><a title="Bridesmaids" href="#bridesmaid-gallery">Bridesmaids</a></li>
				<li><a title="Groomsmen" href="#groomsmen-gallery">Groomsmen</a></li>
				<li><a title="Gallery" href="#couple-gallery">Gallery</a></li>
				<li><a title="Contact" href="#contact">Contact</a></li>
			</ul>
		</nav>
		<h1>Alex <em>&amp;</em> Kylie</h1>
		<span class="ceremony-date">September 21<sup>st</sup>, 2019</span>
	</header>

	<!-- Couple section -->
	<section id="couple" class="row">
		<div class="columns large-12">
			<div class="columns large-4 medium-4">
				<span class="headshot bride">
					<img src="{% static "img/alex-head.jpg" %}" alt="alex headshot" width="233">
				</span>
				<h3>Alex</h3>
				<p class="desc bride">
					Alex is a convicted felon. He enjoys gin, tonic and suffering.
				</p>
			</div><!-- End .large-4 -->
			<div class="columns large-4 medium-4">
				<p class="giant-ampersand">&amp;</p>
			</div><!-- End .large-4 -->
			<div class="columns large-4 medium-4">
				<span class="headshot groom">
					<img src="{% static "img/kylie-head.jpg" %}" alt="kylie headshot" width="233">
				</span>
				<h3>Kylie</h3>
				<p class="desc groom">
					Kylie is highly critical but means well.
				</p>
			</div><!-- End .large-4 -->
		</div><!-- End .large-12 -->
	</section><!-- End #couple -->

	<!-- RSVP section -->
	<section id="rsvp">
		<div class="rsvp-form-wrap">
			<h2>Our Story</h2>
			<p class="rsvp-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla sollicitudin mi non fringilla. Nulla at est sed neque accumsan maximus. Donec ut pellentesque nulla. Proin efficitur mi arcu, luctus sagittis eros maximus id. Aliquam erat volutpat. Aenean non lacinia ligula. Nunc semper efficitur metus, sit amet pharetra dui commodo nec. Curabitur augue ipsum, malesuada quis ultrices eget, fringilla eget mi. Suspendisse potenti. Nunc convallis consectetur nisi ac ullamcorper. Curabitur nec viverra est. Curabitur ante turpis, efficitur eu luctus volutpat, ultrices at lacus. Vivamus vitae interdum nibh. Nullam congue ligula sed lobortis mattis. Ut pulvinar aliquam elit, a volutpat risus. Praesent dolor felis, facilisis tempor diam a, pretium elementum neque.
      </p>
			<p class="rsvp-desc">
        Vivamus aliquet scelerisque lectus, vel sagittis tellus fermentum non. In vitae ipsum non sem efficitur iaculis. Cras vitae arcu nec tortor lobortis tincidunt. In porta turpis sed neque congue varius. Morbi gravida facilisis finibus. Duis commodo lectus sem, sit amet tempor metus dapibus at. Phasellus neque lectus, hendrerit at eleifend a, porta ac enim. Sed nec eleifend felis.
      </p>
		</div><!-- End .rsvp-form-wrap -->
	</section><!-- End #rsvp -->

	<!-- Countdown section -->
	<section id="countdown">
		<h2>Countdown to our Wedding</h2>
		<div id="default-countdown"></div>
	</section><!-- End #countdown -->

	<!-- Schedule section -->
	<section id="schedule">
		<div class="schedule-content-wrap">
			<h2>Schedule</h2>
			<div class="row">
				<div class="columns large-6">
					<strong><br>Bridal Shower</strong>
					<div class="event-details">
						<p>16:00h - 17:00<br>
						5281 York Road<br>
						Holicong, Pennsylvania<br>
						<a href="https://www.google.com/maps/place/The+Inn+at+Barley+Sheaf+Farm/@40.335704,-75.044462,17z/data=!4m7!3m6!1s0x0:0x7720f8a04d3c87e9!5m1!1s2018-04-01!8m2!3d40.3357037!4d-75.0444619?hl=en" target="_blank">VIEW DIRECTIONS</a></p>
						<p>Lorem ipsum dolor sit amet, con pisi cing elit, sed do eiusmod tempor exercitationemut labore et dolore magna aliqua. Ut enim ad consequatur</p>
					</div><!-- End .event-details -->
				</div><!-- End .columns.large-6 -->
				<div class="columns large-6">
					<strong>Ceremony &<br>Reception</strong>
					<div class="event-details">
						<p>16:00h - 17:00<br>
						5281 York Road<br>
						Holicong, Pennsylvania<br>
						<a href="https://www.google.com/maps/place/The+Inn+at+Barley+Sheaf+Farm/@40.335704,-75.044462,17z/data=!4m7!3m6!1s0x0:0x7720f8a04d3c87e9!5m1!1s2018-04-01!8m2!3d40.3357037!4d-75.0444619?hl=en" target="_blank">VIEW DIRECTIONS</a></p>
						<p>Lorem ipsum dolor sit amet, con pisi cing elit, sed do eiusmod tempor exercitationemut labore et dolore magna aliqua. Ut enim ad consequatur</p>
					</div><!-- End .event-details -->
				</div><!-- End .columns.large-6 -->
			</div><!-- End .row -->
		</div><!-- End .schedule-content-wrap -->
	</section><!-- End #schedule -->

	<!-- Bridesmaids gallery section -->
	<section id="bridesmaid-gallery">
		<h2>Bridesmaids</h2>
		<nav class="dg-nav">
			<span class="dg-prev">&lt;</span>
			<span class="dg-next">&gt;</span>
		</nav>
		<div id="bridesmaid-carousel" class="dg-container">
			<div class="dg-wrapper">

				<!-- begin bridesmaid image -->
				<a href="#" style="background:url(http://placehold.it/429x294) no-repeat 50% center; background-size:cover;">
					<img src="http://placehold.it/429x294" alt="maid of honor">
					<div>
						<span class="guest-name">Angela Romero</span>
						<span class="guest-title">MAID OF HONOUR</span>
						<span class="guest-story"> Lorem ipsum dolor sit amet, consectetur adipisci Lorem ipsum dolor sit amet, conse Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel ipsum cons
	equat odictetur adipiscing elit.</span>
					</div>
				</a>
				<!-- end bridesmaid image -->

				<!-- begin bridesmaid image -->
				<a href="#" style="background:url(http://placehold.it/429x294) no-repeat 50% center; background-size:cover;">
					<img src="http://placehold.it/429x294" alt="bridesmaid">
					<div>
						<span class="guest-name">Sue Storm</span>
						<span class="guest-title">Bridesmaid</span>
						<span class="guest-story"> Lorem ipsum dolor sit amet, consectetur adipisci Lorem ipsum dolor sit amet, conse Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel ipsum cons
	equat odictetur adipiscing elit.</span>
					</div>
				</a>
				<!-- end bridesmaid image -->

				<!-- begin bridesmaid image -->
				<a href="#" style="background:url(http://placehold.it/429x294) no-repeat 50% center; background-size:cover;">
					<img src="http://placehold.it/429x294" alt="bridesmaid">
					<div>
						<span class="guest-name">Jean Grey</span>
						<span class="guest-title">Bridesmaid</span>
						<span class="guest-story"> Lorem ipsum dolor sit amet, consectetur adipisci Lorem ipsum dolor sit amet, conse Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel ipsum cons
	equat odictetur adipiscing elit.</span>
					</div>
				</a>
				<!-- end bridesmaid image -->

				<!-- begin bridesmaid image -->
				<a href="#" style="background:url(http://placehold.it/429x294) no-repeat 50% center; background-size:cover;">
					<img src="http://placehold.it/429x294" alt="bridesmaid">
					<div>
						<span class="guest-name">Diana Prince</span>
						<span class="guest-title">Bridesmaid</span>
						<span class="guest-story"> Lorem ipsum dolor sit amet, consectetur adipisci Lorem ipsum dolor sit amet, conse Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel ipsum cons
	equat odictetur adipiscing elit.</span>
					</div>
				</a>
				<!-- end bridesmaid image -->

				<!-- begin bridesmaid image -->
				<a href="#" style="background:url(http://placehold.it/429x294) no-repeat 50% center; background-size:cover;">
					<img src="http://placehold.it/429x294" alt="bridesmaid">
					<div>
						<span class="guest-name">Natasha Romanov</span>
						<span class="guest-title">Bridesmaid</span>
						<span class="guest-story"> Lorem ipsum dolor sit amet, consectetur adipisci Lorem ipsum dolor sit amet, conse Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel ipsum cons
	equat odictetur adipiscing elit.</span>
					</div>
				</a>
				<!-- end bridesmaid image -->

			</div><!-- End .dg-wrapper -->
		</div><!-- End #bridesmaid-carousel -->
		<div class="bridemaids-mobile-slider-wrap"><div class="bridemaids-mobile-slider"></div></div>
	</section><!-- End #bridesmaid-gallery -->

	<!-- Groomsmen gallery section -->
	<section id="groomsmen-gallery">
		<h2>Groomsmen</h2>
		<nav class="dg-nav-g">
			<span class="dg-prev-g">&lt;</span>
			<span class="dg-next-g">&gt;</span>
		</nav>
		<div id="groomsmen-carousel" class="dg-container">
			<div class="dg-wrapper-g">

				<!-- begin groomsman image -->
				<a href="#" style="background:url(http://placehold.it/429x294) no-repeat center; background-size:cover;">
					<img src="http://placehold.it/429x294" alt="groomsman">
					<div>
						<span class="guest-name">Nick Fury</span>
						<span class="guest-title">Best Man</span>
						<span class="guest-story"> Lorem ipsum dolor sit amet, consectetur adipisci Lorem ipsum dolor sit amet, conse Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel ipsum cons
	equat odictetur adipiscing elit.</span>
					</div>
				</a>
				<!-- end groomsman image -->

				<!-- begin groomsman image -->
				<a href="#" style="background:url(http://placehold.it/429x294) no-repeat center; background-size:cover;">
					<img src="http://placehold.it/429x294" alt="groomsman">
					<div>
						<span class="guest-name">Peter Parker</span>
						<span class="guest-title">Groomsman</span>
						<span class="guest-story"> Lorem ipsum dolor sit amet, consectetur adipisci Lorem ipsum dolor sit amet, conse Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel ipsum cons
	equat odictetur adipiscing elit.</span>
					</div>
				</a>
				<!-- end groomsman image -->

				<!-- begin groomsman image -->
				<a href="#" style="background:url(http://placehold.it/429x294) no-repeat center; background-size:cover;">
					<img src="http://placehold.it/429x294" alt="groomsman">
					<div>
						<span class="guest-name">Scott Summers</span>
						<span class="guest-title">Groomsman</span>
						<span class="guest-story"> Lorem ipsum dolor sit amet, consectetur adipisci Lorem ipsum dolor sit amet, conse Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel ipsum cons
	equat odictetur adipiscing elit.</span>
					</div>
				</a>
				<!-- end groomsman image -->

				<!-- begin groomsman image -->
				<a href="#" style="background:url(http://placehold.it/429x294) no-repeat center; background-size:cover;">
					<img src="http://placehold.it/429x294" alt="groomsman">
					<div>
						<span class="guest-name">Tony Stark</span>
						<span class="guest-title">Groomsman</span>
						<span class="guest-story"> Lorem ipsum dolor sit amet, consectetur adipisci Lorem ipsum dolor sit amet, conse Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel ipsum cons
	equat odictetur adipiscing elit.</span>
					</div>
				</a>
				<!-- end groomsman image -->

				<!-- begin groomsman image -->
				<a href="#" style="background:url(http://placehold.it/429x294) no-repeat center; background-size:cover;">
					<img src="http://placehold.it/429x294" alt="groomsman">
					<div>
						<span class="guest-name">Steve Rogers</span>
						<span class="guest-title">Groomsman</span>
						<span class="guest-story"> Lorem ipsum dolor sit amet, consectetur adipisci Lorem ipsum dolor sit amet, conse Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel ipsum cons
	equat odictetur adipiscing elit.</span>
					</div>
				</a>
				<!-- end groomsman image -->

			</div><!-- End .dg-wrapper-g -->
		</div><!-- End #groomsmen-carousel -->
		<div class="groomsmen-mobile-slider-wrap"><div class="groomsmen-mobile-slider"></div></div>
	</section><!-- End #groomsmen-gallery -->

	<!-- Couple gallery section -->
	<section id="couple-gallery">
		<h2>Gallery</h2>
		<div class="il-scattered-gallery">
			<a href="#"><img src="http://placehold.it/1000x667/eeeeee" alt=""></a>
			<a href="#"><img src="http://placehold.it/1000x667/eeeeee" alt=""></a>
			<a href="#"><img src="http://placehold.it/1000x667/eeeeee" alt=""></a>
			<a href="#"><img src="http://placehold.it/1000x667/eeeeee" alt=""></a>
			<a href="#"><img src="http://placehold.it/1000x667/eeeeee" alt=""></a>
			<a href="#"><img src="http://placehold.it/1000x667/eeeeee" alt=""></a>
			<a href="#"><img src="http://placehold.it/1000x667/eeeeee" alt=""></a>
		</div>
		<div class="couple-slideshow-wrap">
			<ul id="couple-slideshow"></ul>
			<ul class="couple-thumbs"></ul>
		</div><!-- End .couple-slideshow-wrap -->
		<a id="gallery-launcher" href="#">Click to view gallery</a>
		<div class="couple-mobile-slider-wrap"><div class="couple-mobile-slider"></div></div>
	</section><!-- End #couple-gallery -->

	<!-- Contact section -->
	<section id="contact">
		<div class="contact-form-wrap">
			<h2>Contact</h2>  {# TODO: Hook up mail sender #}
			<p class="contact-desc">Any further questions? Please send us a message in the comments box below.</p>
			<form id="contact-form" action="sendemail.php" method="post" data-abide>
				<div class="columns large-12">
					<label for="your-name">Name (required)</label>
					<input id="your-name" name="your_name" type="text" placeholder="John Doe" required pattern="[a-zA-Z]+">

					<label for="your-email">Email Address (required)</label>
					<input id="your-email" name="your_email" type="email" placeholder="johndoe@email.com" required>
					<small class="error">Please enter a valid email.</small>

					<label for="comments">Comment (required)</label>
					<textarea name="comments" id="comments" placeholder="Comments..." required></textarea>
				</div><!-- End .large-12 -->
				<div class="columns large-12">
					<input class="button" type="submit" value="Submit" name="contact_submit">
				</div><!-- End .large-12 -->
			</form>
		</div><!-- End .contact-form-wrap -->
	</section><!-- End #contact -->

	<footer>
		<p>
			&copy; 2018 Kylex International, Inc. Built with nuptial bliss (and Django, for some reason) in Philadelphia.
		</p>
	</footer>

	<script src="{% static "js/foundation.min.js" %}"></script>
	<script src="{% static "js/plugins.js" %}"></script>
	<script src="{% static "js/scripts.js" %}"></script>
</body>
</html>
